/* Add CSS Styling */
.oddNumber {
    background-color: rgb(229, 99, 103);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.second {
    color: blue;
    font-size: 36px;
}

.font-size-change {
    font-size: 24px;
}

.fourth {
    background-color: lightgreen;
    font-weight: bold;
}